<div class="card-item col">
  <a href="{{ person.url | relative_url }}">
    <div class="card hoverable">
      <div class="row g-0">
        {%- if person.img -%}
        <div class="card-img col-md-6">
          {% include figure.html path=person.img alt="person thumbnail" %}
        </div>
        <div class="col-md-6">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
          <div class="card-body">
            <h3 class="card-title">{{ person.name }}</h3>
            <p class="card-text">{{ person.bio }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
